services:
  redis:
    image: redis:7-alpine
    container_name: sendwave_redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis_data:/data

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: sendwave_server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    depends_on:
      - redis
    restart: unless-stopped

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        - VITE_BASE_URL=http://localhost:5000
    container_name: sendwave_client
    ports:
      - "80:80"
    depends_on:
      - server
    restart: unless-stopped

volumes:
  redis_data:
